/* Rainbow tabs partially working */
.ace_text-layer .ace_indent-guide:nth-child(7n+1) { background-color: #ff0000 !important; } 
.ace_text-layer .ace_indent-guide:nth-child(7n+2) { background-color: #ffa500 !important; } 
.ace_text-layer .ace_indent-guide:nth-child(7n+3) { background-color: #ffff00 !important; } 
.ace_text-layer .ace_indent-guide:nth-child(7n+4) { background-color: #008000 !important; } 
.ace_text-layer .ace_indent-guide:nth-child(7n+5) { background-color: #0000ff !important; } 
.ace_text-layer .ace_indent-guide:nth-child(7n+6) { background-color: #4b0082 !important; } 
.ace_text-layer .ace_indent-guide:nth-child(7n)   { background-color: #ee82ee !important; }

.ace_indent-guide:last-of-type {
  width: auto !important;
}
