/* Closed folder */
.treeview .dir > .header:before {
  font-family: "Remix Icons";
  content: "\ED53";
  margin: 0 5px 0 0;
  display: inline-block;
  background: none;
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: inherit;
}

/* Open folder */
.treeview .dir .open > .header:before {
  content: "\ED57"
}

.treeview .dir .is-empty > .header:before {
  content: "\ED62"
}

.treeview .dir > .header {
  position: relative;
}

/* System icons */

.system-buttons {
  font-family: "Remix Icons";
  background: none;
  font-size: 18px;
  line-height: inherit;
}

.system-buttons svg {
  display: none !important;
}

.system-buttons .system-button.preferences::before {
  content: "\EF3B";
}

.system-buttons .system-button.minimize::before {
  content: "\F1AE";
}

.system-buttons .system-button.maximize::before {
  content: "\F1A3";
}

.system-buttons .system-button.close::before {
  content: "\EB99";
}

.system-buttons .system-button.preferences > svg {
  display: none !important;
}


/* .treeview .dir > .header > .label::after {
  content: " (empty)";
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  color: #888;
} */

.treeview .dir > .header::after {
  font-family: "Remix Icons";
  content: "\EB7C";
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 8px;
  color: var(--accent-color-02);
}

.treeview .dir.is-empty > .header::after {
  /* content: "\F3C2"; */
  content: "";
}

/* Item */
.treeview .item:before {
  font-family: "Remix Icons";
  content: "\ECC2";
  margin: 0 5px 0 0;
  display: inline-block;
  background: none;
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: inherit;
}

/* 
  Remove icon override (if enabled)
  and pass a thumbnail image
 */
.treeview .item[data-thumb]:before {
  content: "" !important;
  border-radius: 3px;
  height: 18px;
  width: 18px;
  image-rendering: pixelated;
}

.treeview .item[data-kind="sprite"]:before {
  content: "\EE4A";
}

.treeview .item[data-kind="project"]:before {
  content: "\F3A6";
}

.treeview > .dir > .items > .dir > .header[title="Notes"]:before {
  content: "\F19A";
}

.treeview > .dir > .items > .dir > .header[title="Particle Systems"]:before, 
.treeview > .dir > .items > .dir > .header[title="Particles"]:before {
  content: "\F36C";
}

.treeview > .dir > .items > .dir > .header[title="Fonts"]:before, 
.treeview > .dir > .items > .dir > .header[title="Font"]:before {
  content: "\F391";
}

.treeview > .dir > .items > .dir > .header[title="Sounds"]:before, 
.treeview > .dir > .items > .dir > .header[title="Sound"]:before {
  content: "\F2A1";
}

.treeview > .dir > .items > .dir > .header[title="Images"]:before, 
.treeview > .dir > .items > .dir > .header[title="Sprites"]:before {
  content: "\F5ED";
}

.treeview > .dir > .items > .dir > .header[title="Sequences"]:before {
  content: "\EB8E";
}

.treeview > .dir > .items > .dir > .header[title="Tile Sets"]:before,
.treeview > .dir > .items > .dir > .header[title="Tiles"]:before {
  content: "\EE7C";
}

.treeview > .dir > .items > .dir > .header[title="Rooms"]:before {
  content: "\F578";
}

.treeview > .dir > .items > .dir > .header[title="Options"]:before,
.treeview > .dir > .items > .dir > .header[title="Settings"]:before {
  content: "\ED75";
}

.treeview > .dir > .items > .dir > .header[title="Extensions"]:before,
.treeview > .dir > .items > .dir > .header[title="Libraries"]:before {
  content: "\F018";
}

.treeview > .dir > .items > .dir > .header[title="Objects"]:before {
  content: "\F44F";
}

.treeview > .dir > .items > .dir > .header[title="Timelines"]:before {
  content: "\EDC0";
}

.treeview > .dir > .items > .dir > .header[title="Animation Curves"]:before {
  content: "\EBC5";
}

.treeview > .dir > .items > .dir > .header[title="Shaders"]:before {
  content: "\F3E4";
}

.treeview > .dir > .items > .dir > .header[title="Scripts"]:before {
  content: "\ECF8";
}

.context .context-txt::before {
  font-family: "Remix Icons";
  display: inline-block;
  text-align: center; 
  background: none;
  content: "\EA6E";
  padding-right: 5px !important;
}

.ace_status-comp .hint::before {
  font-family: "Remix Icons";
  display: inline-block;
  text-align: center; 
  background: none;
  content: "\EA6E";
  padding-right: 5px !important;
}