#main
  .ace_gutter-active-line:not(.ace_error):not(.ace_warning):not(
    .ace_gutter-define
  ) {
  color: var(--fg-color-01);
  background-color: transparent !important;
  z-index: 1;
}

.ace_layer.ace_marker-layer
  .ace_active-line:not(.ace_error-line):not(.ace_warning-line):not(
    .ace_gutter-define
  ) {
  background-color: var(--linter-select-01);
  border-left: 1px solid var(--linter-select-02);
  border-right: 0px;
  z-index: 1;
}

.ace_active-line {
  background-color: var(--linter-select-01);
  border-left: 1px solid var(--linter-select-02);
  border-right: 0px;
}

.ace_error-line {
  background-color: var(--error-bg-02) !important;
  opacity: 100% !important;
}

.ace_gutter-cell.ace_error {
  background-color: var(--error-bg-01) !important;
  background-image: none !important;
  color: var(--default-text-02) !important;
  z-index: 2;
}

.ace_gutter-cell.ace_warning {
  background-color: var(--warn-bg-01) !important;
  background-image: none !important;
  color: var(--default-text-02) !important;
  z-index: 2;
}

.ace_selection {
  background-color: var(--linter-select-03) !important;
}

#app .ace_gutter-define:not(:first-child) {
  box-shadow: none;
}
#app .ace_gutter-define {
  color: var(--default-text-02);
}
.ace_editor.ace_autocomplete .ace_completion-highlight {
  color: var(--default-text-02);
}

#app .ace-tm {
  color: var(--fg-color-01);
  /* background-color: #1e1e1e;  */
}

/* Gutter */
#app .ace_gutter {
  background-color: #1e1e1e;
  color: #858585;
}

/* Active line */
#app .ace_active-line {
  background-color: #2c2c2c;
}

/* Active gutter line */
#app .ace_gutter-active-line {
  background-color: #333333;
}

/* Syntax colors */

/* Keywords */
/* #app .ace-tm .ace_keyword {
  color: #569cd6; 
  font-weight: bold;
} */

/* Staring */
#app .ace-tm .ace_string {
  color: #ce9178;
}

/* Functions */
#app .ace-tm .ace_function {
  color: #dcdcaa;
}

/* Vars */
#app .ace-tm .ace_variable {
  color: #9cdcfe;
}

/* Comments */
#app .ace-tm .ace_comment {
  color: #6a9955;
  font-style: italic;
}

/* Numbers */
#app .ace-tm .ace_numeric {
  color: #b5cea8;
}

/* Const */
#app .ace-tm .ace_constant {
  color: #4ec9b0;
}

/* Types */
#app .ace-tm .ace_type {
  color: #c586c0;
}

/* Text selection */
#app .ace_selection {
  background-color: #264f78;
}

/* Event */
#main .ace-tm .ace_line:not(:first-child) .ace_preproc.ace_event::after {
  background-color: transparent !important;
}

.ace_gutter-cell.ace_gutter-define {
  background-color: #422d40 !important;
  color: #c586c0 !important;
  border: none !important;
}

.ace_error-line {
  background-color: var(--error-bg-02) !important;
  opacity: 100% !important;
}
