:root {
  --bg-color-01: #121212;
  --bg-color-02: #1a1a1a;
  --bg-color-03: #222222;
  --bg-color-04: #3a3a3a;

  --fg-color-01: #FFFFFF;
  --fg-color-02: #6C6C6E;
  --stroke-color-01: #2a2a2a;
  --accent-color-01: #2a2a2a;
  --accent-color-03: #808eff;

  --border-radius: 10px;
  --tabs-height: 35px; 
  --icons-font-size: 15px;

  --linter-select-01: #292929;
  --linter-select-02: #393939;
  --linter-select-03: #494949;

  --default-text-01: #5C5C5E;
  --default-text-02: #F2ECEF;

  --primary-text-01: #FFDD9C;
  --primary-text-02: #E6A7FF;
  --primary-text-03: #A6FF9E;
  --primary-text-04: #9EB2FF;

  --error-bg-01: #5E1A1B;
  --error-bg-02: #3e1c1c;

  --warn-bg-01: #694804;
  --warn-bg-02: #403826;
  
  --error-text-01: #FF9C9D;
  --warn-text-01: #FFDD9C;
}