.treeview {
  background-color: var(--bg-color-01);
  color: var(--fg-color-02);
  padding: 0 !important;
}

.dir,
.item,
.items,
.header {
  border: none !important;
}

/* .bottom.treeview .dir > .header,
.bottom.treeview .dir > .dir,
.bottom.treeview .dir > .dir > .header {
  border: none !important;
} */

.header,
.item {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  font-size: 14px !important;
}

.treeview .dir {
  overflow: hidden;
}

.treeview .dir:not(.open) {
  padding: 0;
  margin: 0;
}

.treeview .dir .header {
  overflow: hidden;
  padding: 5px;
  display: flex;
  align-items: center;
}

.treeview .items {
  padding-left: 15px;
}

.treeview .item {
  display: flex;
  align-items: center;
  padding: 5px;
}

.treeview .item[data-kind='project'] {
  flex-direction: row;
}

.treeview .item span,
.treeview .header span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.treeview .item span {
  max-width: calc(100% - 25px);
}

.treeview .header span {
  max-width: calc(100% - 35px);
}

.treeview .header:not(.hidden) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Hover and other */

.treeview .header:not(:active):hover,
.treeview .dir .header:not(:active):hover,
.treeview .item:not(:active):hover {
  background: linear-gradient(to right, var(--bg-color-03), transparent);
  /* background-color: var(--bg-color-03) !important; */
  color: var(--fg-color-01);
  transition: color 0.1s ease-in;
}

.treeview .dir.open > .header:active {
  background: linear-gradient(to right, var(--bg-color-03), transparent);
  /* background-color: var(--bg-color-03) !important; */
  color: var(--fg-color-01);
  transition: color 0.1s ease-in;
}

.treeview .header:hover > span,
.treeview .item:hover > span,
.treeview .header:active > span,
.treeview .item:active > span {
  background: none;
}

/* Hide scrollbar */

.bottom.treeview {
  position: relative;
  overflow-y: auto;
  margin-top: var(--tabs-height) !important;
}

.bottom.treeview::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.bottom.treeview::-webkit-scrollbar-track {
  background: none;
}

.bottom.treeview::-webkit-scrollbar-thumb {
  background: var(--bg-color-02);
  border-radius: var(--border-radius);
  border: none;
}

.bottom.treeview::-webkit-scrollbar-thumb:hover {
  background: var(--fg-color-02);
}

.bottom.treeview {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-color-02) transparent;
}
