/* .ace_indent-guide {
  display: inline-block;
  height: 100% !important;
  border: none !important;
  background-image: none !important;
}

.ace_line .ace_indent-guide:nth-child(7n+1) { background-color: #ff00001a !important; }
.ace_line .ace_indent-guide:nth-child(7n+2) { background-color: #ffa5001a !important; }
.ace_line .ace_indent-guide:nth-child(7n+3) { background-color: #ffff001a !important; }
.ace_line .ace_indent-guide:nth-child(7n+4) { background-color: #0080001a !important; }
.ace_line .ace_indent-guide:nth-child(7n+5) { background-color: #0000ff1a !important; }
.ace_line .ace_indent-guide:nth-child(7n+6) { background-color: #4b00821a !important; }
.ace_line .ace_indent-guide:nth-child(7n+7) { background-color: #ee82ee1a !important; } */

/* .ace_line .ace_invisible.ace_invisible_space:nth-child(7n+1) { background-color: #ff00001a !important; }
.ace_line .ace_invisible.ace_invisible_space:nth-child(7n+2) { background-color: #ffa5001a !important; }
.ace_line .ace_invisible.ace_invisible_space:nth-child(7n+3) { background-color: #ffff001a !important; }
.ace_line .ace_invisible.ace_invisible_space:nth-child(7n+4) { background-color: #0080001a !important; }
.ace_line .ace_invisible.ace_invisible_space:nth-child(7n+5) { background-color: #0000ff1a !important; }
.ace_line .ace_invisible.ace_invisible_space:nth-child(7n+6) { background-color: #4b00821a !important; }
.ace_line .ace_invisible.ace_invisible_space:nth-child(7n+7) { background-color: #ee82ee1a !important; } */

/* .ace_line {
  display: inline !important;
} */

/* .ace_invisible {
  color: transparent !important;
} */

/* .ace_layer.ace_text-layer,
.ace_layer.ace_marker-layer,
.ace_layer.ace_print-margin-layer,
.ace_layer.ace_cursor-layer {
  margin: 0px !important;
} */

/* .ace_layer.ace_text-layer {
  display: flex !important;
} */
